{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style/components/login.css' %}">
    <title>QR:Login</title>
</head>
<body style="height:100vh; background-image: url({% static 'images/wall.jpg' %}); background-position:top; background-size:cover; display:flex; justify-content:center; align-items:center;">
    <section class="login">
        <form style="display:flex; flex-direction:column;" method="post" action="{% url 'products:dashboard' %}">
        {{ form.as_p }}
            {% csrf_token %}
            <input id="btn" type="submit" value="Sign IN">
        </form>
    </section>
</body>
</html>
